*~
*.log
/wp-admin/
/wp-includes/

/.htaccess
/*.php
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz

wp-content/*
!wp-content/themes
wp-content/themes/*
!wp-content/themes/dp-fancie-note
wp-content/themes/dp-fancie-note/*
!wp-content/themes/dp-fancie-note/inc
wp-content/themes/dp-fancie-note/inc/*
!wp-content/themes/dp-fancie-note/inc/scr
wp-content/themes/dp-fancie-note/inc/scr/*
!wp-content/themes/dp-fancie-note/inc/scr/related_posts.php
!wp-content/themes/dp-fancie-note-child
!wp-content/plugins
wp-content/plugins/*
!wp-content/plugins/custom-field-template
wp-content/plugins/custom-field-template/*
!wp-content/plugins/custom-field-template/custom-field-template.php
