
*~
*.log

/*.env
/backup/
/sql/

/tools/upload_settings*.txt
/tools/wordpress_settings*.txt

/app/wp-admin/
/app/*.pluginlist.*
/app/backwpup_readme.txt
/app/manifest.json

/app/.htaccess
/app/*.php
/app/license.txt
/app/readme.html
/app/sitemap.xml
/app/sitemap.xml.gz

/app/wp-includes/*
!/app/wp-includes/general-template.php

/app/wp-content/*
!/app/wp-content/themes
/app/wp-content/themes/*
!/app/wp-content/themes/dp-fancie-note
/app/wp-content/themes/dp-fancie-note/*
!/app/wp-content/themes/dp-fancie-note/inc
/app/wp-content/themes/dp-fancie-note/inc/*
!/app/wp-content/themes/dp-fancie-note/inc/scr
/app/wp-content/themes/dp-fancie-note/inc/scr/*
!/app/wp-content/themes/dp-fancie-note/inc/scr/related_posts.php
!/app/wp-content/themes/dp-fancie-note-child
!/app/wp-content/plugins
/app/wp-content/plugins/*
!/app/wp-content/plugins/custom-field-template
/app/wp-content/plugins/custom-field-template/*
!/app/wp-content/plugins/custom-field-template/custom-field-template.php
