*.log

/fanciedarts/wp-config.php
/fanciedarts/wp-content/advanced-cache.php
/fanciedarts/wp-content/backup-db/
/fanciedarts/wp-content/backups/
/fanciedarts/wp-content/blogs.dir/
/fanciedarts/wp-content/cache/
/fanciedarts/wp-content/upgrade/
/fanciedarts/wp-content/uploads/
/fanciedarts/wp-content/mu-plugins/
/fanciedarts/wp-content/wp-cache-config.php
/fanciedarts/wp-content/plugins/hello.php

/fanciedarts/.htaccess
/fanciedarts/license.txt
/fanciedarts/readme.html
/fanciedarts/sitemap.xml
/fanciedarts/sitemap.xml.gz
/fanciedarts/robots.txt
/fanciedarts/*.pluginlist.*
/fanciedarts/backwpup_readme.txt
/fanciedarts/manifest.json
/fanciedarts/*.sql.gz
